﻿@model Tuple<string, int> 
@{
    var shop = Model.Item1;
    var productCount = Model.Item2;   
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Bodi.Me Products Syncing Service</h1>
        <p class="lead">There are <b>@productCount</b> product(s) ready to sync. Click below to get started.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" onclick="syncProducts()">Sync Now</a> 
        <a class="btn btn-lg btn-primary" href="#" role="button" onclick="redirectToAdmin()">Back To Products</a></p>
        <div id="progress-indicator" class="progress" style="display: none">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
        <p class="lead" id="message" style="display: none"></p>
        <p class="lead text-danger" id="message-error" style="display: none"></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function syncProducts() {
        $("#progress-indicator").show();
        var promise = $.getJSON("https://shopify.bodi.me/shopify/products/sync?shop=@shop");
        promise.done(function(data) {
            $("#message").append(data.message);
            $("#message").show();
            $("#progress-indicator").hide();
        });
        promise.fail(function (data) {
            $("#message-error").append(data.statusText+". Please contact the app administrator.");
            $("#message-error").show();
            $("#progress-indicator").hide();
        });
    }
    function redirectToAdmin() {
        window.parent.window.location = "https://@shop/admin/products";
    }
</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>